.pokemon {
  display: flex;
  justify-content: center;
}
.pokemon-content {
  padding: 30px;
  width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pokemon-title {
  font-size: 40px;
}
input {
  padding: 4px;
  width: 300px;
  border: 1px solid #000;
  outline: none;
}

.pokemon-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.pokemon-list>a {
  width: 33%;
  cursor: pointer;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pokemon-img {
  width: 70%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pokemon-img img {
  max-width: 100%;
  max-height: 100%;
}
.pokemon-name {
  padding: 10px 0;
  font-size: 18px;
  font-weight: bold;
}

.detail {
  width: 300px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
}
.detail img {
  width: 300px;
}
.detail>div {
  padding-top: 10px;
}